
/* GENERAL */
.transition {
  transition: all ease 300ms;
}

.shadows {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

/* DISPLAYS */
.fullContainer {
  min-height: 100vh;
  width: 100%;
  padding: 5rem;
  position: relative;
}

.flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexAligned {
  display: flex;
  align-items: center;
}

.flexed {
  display: flex;
}

/* GAPS */
.gapXXS {
  gap: 0.25rem;
}

.gapXs {
  gap: 0.5rem;
}

.gapSm {
  gap: 1rem;
}

.gapMid {
  gap: 2.5rem;
}

.gapL {
  gap: 5rem;
}

.gapXL {
  gap: 7.5rem;
}

/* TEXTS */
.textXs {
  font-size: 12.5px;
}

.textSm {
  font-size: 14px;
}

.textMid {
  font-size: 15px;
}

.textL {
  font-size: 18px;
}

.textXL {
  font-size: 22px;
}

.semiBold {
  font-weight: 600;
}

.label {
  font-weight: 600;
  font-size: 14px;
}

/* BUTTONS */
.mainButton {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.secondaryButton {
  border: 1px solid #0036c0;
  color: #0036c0;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  cursor: pointer;
  outline: none;
  background: none;
}

.secondaryButton:hover {
  border-color: transparent;
  color: white;
  background-color: #0036c0;
}

.linkButton {
  border: none;
  width: fit-content;
  cursor: pointer;
  outline: none;
  background: none;
  padding: 0;
  color: rgb(255, 255, 255, 0.7) !important;
}

.linkButton:hover {
  color: white !important;
  font-weight: 600;
}

.thirdButton {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #272727;
  background-color: #ecedf0;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.thirdButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.roundedButton {
  border-radius: 25px;
  border: none;
  outline: none;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.tab {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: transparent;
  font-family: "Montserrat", sans-serif;
}

.tab:hover {
  background-color: rgb(0, 0, 0, 0.3);
}

/* COLORS */
.mainBg {
  background-color: rgb(0, 0, 0, 0.3);
}

.whiteBg {
  background-color: white;
}

.darkGreenBg {
  background-color: #183d3d;
}

.textWhite {
  color: white;
}

.textPurple {
  color: #5c73db;
}

.textGray {
  color: #272727;
}

.lightGreenBg {
  background-color: #e2f5f4;
}

.lightRedBg {
  background-color: #ffc9c9;
}

.textGreen {
  color: #12b3a8;
}

.textRed {
  color: #8b1313;
}

.redBg {
  background-color: #d80032;
}

/* INPUTS */
.inputBox {
  width: 100%;
}

.input {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0.75rem;
  /* padding-left: 1rem; */
  width: 100%;
  color: #272727 !important;
}

.input::placeholder {
  color: #a4a4a4;
  font-size: 13px;
}

.select {
  border: 1px solid #ecedf0;
  outline-color: #5c73db;
  border-radius: 10px;
  padding: 0.75rem;
  width: 70%;
  cursor: pointer;
}

.textarea {
  border: 1px solid #ecedf0;
  outline-color: #5c73db;
  border-radius: 7px;
  padding: 0.75rem;
  width: 100%;
  height: 100%;
  resize: none;
  font-family: "Roboto", sans-serif !important;
}

/* MODALS */
.fullOverlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.modalContainer {
  background-color: white;
  border-radius: 7px;
  padding: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 30rem;
  max-width: 50rem;
}
